{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table  class="table table-bordered ">
        <tbody>
            <tr>
                <th>Id</th>
                <td colspan="3">{{ product.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
                <th>Status</th>
                <td>{{ (product.isActive)?"active" :"Disabled" }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
